Package: com.apple.core.avmediasupport
Name: AVMediaSupport Core
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Core Media Support Framework.
Maintainer: Apple
Author: Apple
Section: System
