Package: com.yourname.vcam
Name: VCAM Stealth
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Next-Gen Stealth Virtual Camera
Maintainer: YourName
Author: YourName
Section: Tweaks
