name: Build VCAM
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Theos
        uses: actions/checkout@v3
        with:
          repository: theos/theos
          path: theos
          submodules: recursive
      - name: Setup iOS SDK
        run: |
          git clone https://github.com/theos/sdks.git theos/sdks
      - name: Build Tweak
        run: |
          export THEOS=${{ github.workspace }}/theos
          make package FINALPACKAGE=1
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: VCAM-Package
          path: packages/*.deb
